data.json
__pycache__
backend/src/Interfaces/__pycache__/
invalid.json
backend/environment.txt
compose-obsidian.yaml
compose-standalone.yaml
statistics.json
compose-debug.yaml
tasks.json
import.dat
.vscode/
backend/build/
backend/dist/
config.json
.coverage
