name: CI/CD Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 mypy

      - name: Lint code
        run: |
          flake8 --ignore=E501,E266,W293 .

      - name: Type checking
        run: |
          mypy backend/ --strict --ignore-missing-imports --show-error-codes --warn-unused-ignores

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          cd backend
          python -m unittest discover -s tests -p '*_test.py'

  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt coverage

      - name: Run tests with coverage
        run: |
          cd backend
          coverage run -m unittest discover -s tests -p '*_test.py'
          coverage report -m

      # Fail if coverage is below 80%
      - name: Check coverage
        run: |
          cd backend
          coverage report --fail-under=80

  build-artifacts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Copy default config
        run: |
          cp requirements.txt backend/requirements.txt

      - name: PyInstaller Windows
        uses: JackMcKew/pyinstaller-action-windows@main
        with:
          path: backend
          spec: backend.spec
          requirements: requirements.txt

      - uses: actions/upload-artifact@v4
        with:
          name: Task-Manager x64-windows
          path: backend/dist/windows/backend